* {
	margin: 0;
	padding: 0;
}

body{
	background: url("../images/noise.png") #E5E5E5;
	font-family: Helvetica, Verdana, sans-serif; 
    font-weight: normal; 
    font-size: 120%;
    line-height: 140%;
	height: 100%;

}
body > header{
	background: url("../images/noise.png") #c0c0c0;
	text-align: center;
}
body > header h1{
	font-size: 100%;
	height: 45px;
	padding: 0.5em;
}

section > section {
	display: none;
	padding: 1em 0.5em;
}

section > section.active {
	display: block;
}

section > h1 {
	width: 90%;
	margin: auto;
}

nav{
	background:#fff;
	margin-top: -1em;
	font-size: 80%;
	height: 58px;
}
nav ul{
	margin: 0;
	text-align: center;
	list-style: none;
}

nav ul li a {
	background: url("../images/noise.png") #474747;
	display: block;
	text-decoration: none;
	padding: 1%;
	color: white;
	width: 48%;
	float: left;
	border-bottom: 1px solid white;
}
nav a.active {
	background: url("../images/noise.png") #6C6C6C;
}

table{
	width: 98%;
	margin: auto;
	border: 2px solid black;
	margin-bottom: 1em;
}
tr{
	text-align: center;
	border-bottom: 2px solid black;
}


tr td:nth-child(2), tr td:nth-child(3), tr td:nth-child(4), tr td:nth-child(5) {
	width: 10%;
}

section[data-route=schedule] td {
	width: auto !important;
}

section[data-route=game] > div {
	width: 50%;
	float: left;
	text-align: center;
}

section[data-route=game] img:hover{
	cursor: pointer;
}

section[data-route=game] h2 {
	margin-bottom: 1em;
	font-size: 1.5em;
}

section[data-route=game] p {
	font-size: 3em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

section[data-route=game] button {
	margin: auto;
	font-size: 2em;
	display: block;
}